.site-header-desktop {
    transform: translateY(-150px);
    animation-name: navReveal;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes navReveal {
  from { transform: translateY(-150px); }
  to { transform: translateY(0px); }
}

html {
    scroll-behavior: smooth;
}

//about page//
.wordCarousel {
    font-size: 36px;
    font-weight: 100;
    color: #939393;
}

   .wordCarousel div {
        overflow: hidden;
        position: relative;
        float: right;
        height: 65px;
        padding-top: 10px;
        margin-top: -10px;
    }
    
        .wordCarousel li {
            font-family: $headings-font-family;
            color: #ccc;
            font-weight: 700;
            padding: 0 10px;
            height: 45px;
            margin-bottom: 45px;
            display: block;
        }

.flip8 { animation: flip8 20s cubic-bezier(1, 0, 0, 1) infinite; }

@keyframes flip8 {
    0% { margin-top: -720px; }
    12.5% { margin-top: -630px; }
    25% { margin-top: -540px; }
    37.5% { margin-top: -450px; }
    50% { margin-top: -360px; }
    62.5% { margin-top: -270px; }
    75% { margin-top: -180px; }
    87.5% { margin-top: -90px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -720px; }
}







/*
* ======== LOGO ANIMATION ========
*/
.site-logo__btn {
    position: relative;
}

//===== ** Photo Stitch ** ===== //
.site-logo__btn > img {
    opacity: 0;
}

.site-logo__btn:before {
    content: "";
    display: block;
    width: $site-logo-desktop-max-width;
    height: $site-logo-desktop-max-height;
    background-image: url(https://images.getbento.com/accounts/9525a6b5d7ccb53dc74e929745c547af/media/images/77606VintagePizza_Frames_Test.png?w=1800&fit=max&auto=compress,format&h=1800);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    animation-name: StitchedFrames;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2);
}

@keyframes StitchedFrames {
  0% { background-position: 0px; }
  100% { background-position: -750px; }
}



//===== ** ROTATE ON SCROLL ** ===== //
.index-template .c-tout-overlay p {
    margin-bottom: 0;
}

.que-rotate {
    max-width: 450px;
}

.que-logo {
    max-width: 450px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}



.c-embed {
    min-height: 100vh;
}

/* Frame Animation */

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.frame {
    position: absolute;
    top: 200px;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;
    width: 70px;
    height: 119.05px;
    display: block;
    z-index: 9;
}

.frame img {
    width: 100%;
}

.frame-one {
  opacity: 1;
  animation-name: fadein;
  animation-duration: 0s;
  animation-delay: 0.75s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.frame-two {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0.25s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.frame-three {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0.25s;
  animation-delay: 1.25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.frame-four {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0.25s;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


















.new-york:before {
    content: "";
    display: block;
    background-color: red;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.site-header-desktop-primary > .container {
    max-width: none;
}

.site-header-desktop-primary {
    padding-top: 4px;
    padding-bottom: 4px;
}

.hero--gallery .hero__content, .hero--gallery .gallery__content {
    transition: 1.2s ease transform;
}

.hero--gallery .hero__content:hover, .hero--gallery .gallery__content:hover {
    transform: translateY(-50%) rotateY(30deg);
}

.site-wordmark__btn {
    font-family: 'Yellowtail';
    font-size: 2.5rem;
}

.btn {
    padding: 0.5rem 1.2rem;
    border-radius: 0;
}

.c-tout-overlay {
    padding-top: 0%;
    min-height: 65vh;
}

.index-template .c-one-col--text:before {
    content: "";
    display: block;
    background-image: url(https://images.getbento.com/accounts/9525a6b5d7ccb53dc74e929745c547af/media/images/29079burger-layers.gif);
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}








.js.csstransforms.csstransitions .revealable h2 {
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    overflow: hidden;
    width: 0%;
    transition: 4s ease all;
}

.js.csstransforms.csstransitions .revealed h2 {
    width: 100%;
}




/*
* ======== MENU NUTRITION ICONS ========
*/
@if $menu-icons == true {
.dairy-free {
    background-image: url(https://images.getbento.com/accounts/bcc597cdf0dc5d4c4784a73e9955f497/media/images/10785GLUTEN_FREE.png?w=1800&fit=max&auto=compress,format&h=1800);
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-bottom: -3px;
    margin-left: 4px;
}

.dairy-free-opt {
    background-image: url(https://images.getbento.com/accounts/b44d944d9dc031f062f297b458ebb35c/media/images/29488DAIRY_FREE_OPTION.png?w=1800&fit=max&auto=compress,format&h=1800);
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-bottom: -3px;
    margin-left: 0.5rem;
}

.gluten-free {
    background-image: url(https://images.getbento.com/accounts/b44d944d9dc031f062f297b458ebb35c/media/images/56186GLUTEN_FREE.png?w=1800&fit=max&auto=compress,format&h=1800);
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-bottom: -3px;
    margin-left: 0.5rem;
}

.gluten-free-opt {
    background-image: url(https://images.getbento.com/accounts/b44d944d9dc031f062f297b458ebb35c/media/images/94862GLUTEN_FREE_OPTION.png?w=1800&fit=max&auto=compress,format&h=1800);
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-bottom: -3px;
    margin-left: 0.5rem;
}

.keto-friendly {
    background-image: url(https://images.getbento.com/accounts/b44d944d9dc031f062f297b458ebb35c/media/images/77955KETO_FRIENDLY.png?w=1800&fit=max&auto=compress,format&h=1800);
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-bottom: -3px;
    margin-left: 0.5rem;
}

.keto-friendly-opt {
    background-image: url(https://images.getbento.com/accounts/b44d944d9dc031f062f297b458ebb35c/media/images/92031KETO_FRIENDLY_OPTION.png?w=1800&fit=max&auto=compress,format&h=1800);
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-bottom: -3px;
    margin-left: 0.5rem;
}

.low-fodmap {
    background-image: url(https://images.getbento.com/accounts/b44d944d9dc031f062f297b458ebb35c/media/images/21528LOW_FODMAP.png?w=1800&fit=max&auto=compress,format&h=1800);
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-bottom: -3px;
    margin-left: 0.5rem;
}

.low-sodium {
    background-image: url(https://images.getbento.com/accounts/b44d944d9dc031f062f297b458ebb35c/media/images/22829LOW_SODIUM.png?w=1800&fit=max&auto=compress,format&h=1800);
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-bottom: -3px;
    margin-left: 0.5rem;
}

.no-sugar {
    background-image: url(https://images.getbento.com/accounts/b44d944d9dc031f062f297b458ebb35c/media/images/29389NO_SUGAR.png?w=1800&fit=max&auto=compress,format&h=1800);
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-bottom: -3px;
    margin-left: 0.5rem;
}

.paleo-friendly {
    background-image: url(https://images.getbento.com/accounts/b44d944d9dc031f062f297b458ebb35c/media/images/55530PALEO_FRIENDLY.png?w=1800&fit=max&auto=compress,format&h=1800);
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-bottom: -3px;
    margin-left: 0.5rem;
}

.paleo-friendly-opt {
    background-image: url(https://images.getbento.com/accounts/b44d944d9dc031f062f297b458ebb35c/media/images/11770PALEO_FRIENDLY_OPTION.png?w=1800&fit=max&auto=compress,format&h=1800);
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-bottom: -3px;
    margin-left: 0.5rem;
}

.plant-based {
    background-image: url(https://images.getbento.com/accounts/b44d944d9dc031f062f297b458ebb35c/media/images/68476PLANT_BASED.png?w=1800&fit=max&auto=compress,format&h=1800);
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-bottom: -3px;
    margin-left: 0.5rem;
}

.vegan {
    background-image: url(https://images.getbento.com/accounts/b44d944d9dc031f062f297b458ebb35c/media/images/31882VEGAN.png?w=1800&fit=max&auto=compress,format&h=1800);
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-bottom: -3px;
    margin-left: 0.5rem;
}

.vegan-option {
    background-image: url(https://images.getbento.com/accounts/b44d944d9dc031f062f297b458ebb35c/media/images/37827VEGAN_OPTIONS.png?w=1800&fit=max&auto=compress,format&h=1800);
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-bottom: -3px;
    margin-left: 0.5rem;
}

.veggie {
    background-image: url(https://images.getbento.com/accounts/b44d944d9dc031f062f297b458ebb35c/media/images/42309VEGETARIAN.png?w=1800&fit=max&auto=compress,format&h=1800);
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-bottom: -3px;
    margin-left: 0.5rem;
}

.veggie-opt {
    background-image: url(https://images.getbento.com/accounts/b44d944d9dc031f062f297b458ebb35c/media/images/78360VEGETARIAN_OPTION.png?w=1800&fit=max&auto=compress,format&h=1800);
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-bottom: -3px;
    margin-left: 0.5rem;
}
}

@if $menu-icons-alt == true {
.dairy-free, .dairy-free-opt, .gluten-free, .gluten-free-opt,
.keto-friendly, .keto-friendly-opt, .low-fodmap, .low-sodium,
.low-sugar, .no-sugar, .paleo-friendly, .paleo-friendly-opt,
.plant-based, .vegan, .vegan-option, .veggie, .veggie-opt {
    filter: grayscale(1) brightness(0) invert(1);
}
}